.description {
    width: 450px;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid gray;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none;

    background-color: rgb(255, 255, 255)
}
.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 50px 20px;

    background-color: rgb(219, 216, 247)
}

.avatar {
    border: 2px solid gray;
    border-radius: 50%;
    width: 250px;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.description_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-bottom: 30px;
}

.name {
    font-size: 40px;
}

.tag {
    font-size: 26px;
}

.location {
    font-size: 20px;
}

.stats {
    display: flex;
    justify-content: space-evenly;

    border: 2px solid gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: rgb(234, 232, 247);
}

.label {
    margin-right: 5px;
    font-size: 18px;
}

.label_border {
    margin-left: 15px;
}

.stats_listItem {
    border-right: 1px solid gray;
    padding: 20px 25px;
}
.stats_listItem:last-child {
    border: none;
}