/* .transaction_item_row {
    background-color: beige;
} */

.transaction_item_row:nth-child(2) {
    background-color: blanchedalmond;
}

.invoice {
    background-color: beige
}
.payment {
    background-color: white
}
.withdrawal {
    background-color: lemonchiffon
}
.deposit {
    background-color: #bbb797
}
